@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.general-header {
    text-align: center;
    font-family: "Roboto", "sans-seriff";
    height: auto;
    width: auto;
    font-size: 20px
}