@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.content-section-1 {
    background-color: #276565;
    margin:0; padding: 0;
    padding-top: 50px;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    width: 100%;
}
.content-section-2 {
    background-color: #FFFEFA;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100%-50px);
    width: 100%;
    margin:0;padding:0;
}
.content-section-3 {
    background-color: #26262F;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100%-50px);
    width: 100%;
    margin:0;padding:0;
}
.content-section-4 {
    background-color: #B9D987;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100%-50px);
    width: 100%;
    margin:0;padding:0;
}
